/.vs/Shop/DesignTimeBuild/.dtbcache
/.vs/Shop/v16/.suo
/.vs/Shop/v16/Server/sqlite3/db.lock
/.vs/Shop/v16/Server/sqlite3/*.ide
/.vs/Shop/v16/Server/sqlite3/*.ide-shm
/.vs/Shop/v16/Server/sqlite3/*.ide-wal
/Shop/.vs/Shop/DesignTimeBuild/*.dtbcache
/Shop/.vs/Shop/v16/*.suo
/Shop/.vs/Shop/v16/Server/sqlite3/*.lock
/Shop/.vs/Shop/v16/Server/sqlite3/*.ide
